{% extends "blog/base.html" %}{% load static %} {% block content %}
<style>
    .form-inputs {
        display: flex;
        flex-direction: column;
    }
    .form-inputs textarea {
        height: 40px;
        font-size: 1.2rem;
    }
    .form-inputs textarea:hover {
        border: 1px solid black;
    }
    .form-inputs button {
        width: 20%;
        margin: 3px auto 0 1px;
    }
</style>
<div class="w3-col l8 s12">
    <!-- Blog entry -->
    <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
            <h3>{{post.title}}</h3>
            <h5>
                Published by {{post.author}} on,
                <span class="w3-opacity">{{post.created}}</span>
            </h5>
        </div>
        <div class="w3-justify">
            <img
                src="{% if post.thumbnail %}{{ post.thumbnail.url }}
                {% else %}{% static 'images/placeholder.png' %}{% endif %}"
                alt=""
                style="width: 100%"
                class="w3-padding-16"
            />
            <p>{{ post.body|safe }}</p>
            <p class="w3-left">
                {% if request.user.is_staff %}
                    <a href="{% url 'blog:edit_post' post.id %}"
                        class="w3-button w3-white w3-border"
                    >
                        <b>Edit Post</b>
                    </a>
                {% else %}
                    <button
                        class="w3-button w3-white w3-border"
                        onclick="likeFunction(this)"
                    >
                        <b><i class="fa fa-thumbs-up"></i> Like</b>
                    </button>
                {% endif%}
            </p>
            <p class="w3-right">
                <button
                    class="w3-button w3-black"
                    onclick="myFunction('demo{{post.id}}')"
                >
                    {% with comments.count as total_comments %}
                    <b>Comment{{ total_comments|pluralize }}  </b>
                    <span class="w3-tag w3-white"> {{ total_comments }} </span>
                    {% endwith %}
                </button>
            </p>
            <p class="w3-clear"></p>
            <div id="demo{{post.id}}" style="display: none">
                <div class="w3-row-padding">
                    <div class="w3-col m12">
                        <div class="w3-card w3-round w3-white">
                            <div class="w3-container w3-padding">
                                {% if request.user.is_authenticated %}
                                <form method="POST">
                                    <div class="form-inputs">
                                        {{ comment_form.body}} {% csrf_token %}
                                        <input
                                            type="submit"
                                            class="w3-button w3-theme"
                                            value="Post"
                                         >
                                    </div>
                                </form>
                                {%else %}
                                <h6 class="w3-opacity">
                                    login to add commet to post
                                    <a
                                        href="{% url 'blog:login' %}"
                                        style="text-decoration: none"
                                        ><span
                                            class="
                                                w3-tag
                                                w3-green
                                                w3-round
                                                w3-opacity-100
                                            "
                                        >
                                            login/register
                                        </span></a
                                    >
                                </h6>
                                {% endif%}
                            </div>
                        </div>
                    </div>
                </div>
                {% for comment in comments %}
                <div class="w3-row">
                    <hr />
                    <div class="w3-col l2 m3">
                        <img
                            src="{% static '/images/avatar2.png' %}"
                            style="width: 90px"
                        />
                    </div>
                    <div class="w3-col l10 m9">
                        <h4>
                            {{ comment.author }}
                            <span class="w3-opacity w3-medium"
                                >{{ comment.created }}</span
                            >
                        </h4>
                        <p>{{ comment.body|linebreaks }}</p>
                        <br />
                    </div>
                </div>
                {% empty %}
                <p></p>
                {% endfor %}
            </div>
        </div>
        <hr />
    </div>
    <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-container w3-white">
            <h2 class="w3-wide">SHARE POST BY EMAIL</h2>
            <a
                href="{% url 'blog:post_share' post.id %}"
                style="text-decoration: none"
            >
                <button
                    type="button"
                    class="
                        w3-button
                        w3-block
                        w3-padding-large
                        w3-black
                        w3-margin-bottom
                    "
                >
                    Share
                </button>
            </a>
        </div>
    </div>
</div>

{% endblock %}
